<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<header class="profile-head">
        <style>
            * {
            margin: 0;
            padding: 0;
            }
       </style>
        <nav>
            <a class="nav-item profile" href="#">Главная</a>
            <a class="nav-item profile" href="#">Лента</a>
            <p class="name">TechTrends</p>
            <a class="nav-item profile" href="#">Создать новый пост</a>
            <a class="nav-item profile" href="#">Мой профиль</a>
        </nav>
    </header>
{% block content %}

{% endblock %}

<footer>
        <div class="rest2"></div>
        <center>
            <p class="name foot">TechTrends</p>
        </center>
        <div class="rest"></div>
        <section class="fott">
            <div class="menu">
                <p class="menu_foot">
                   Меню
                </p>
                    <a class="nav_item-foot" href="#">Новости</a>
                    <a class="nav_item-foot" href="#">Главная</a>
                    <a class="nav_item-foot" href="#">Вопросы в IT</a>
            </div>
            <div class="rest1"></div>
            <div class="about">
                <p class="menu_foot">
                    О нас
                </p>
                <a class="nav_item-foot" href="#">Страница о нас</a>
                <a class="nav_item-foot" href="#">Все документы</a>
                <a class="nav_item-foot" href="#">FAQ</a>
            </div>
            <div class="rest1"></div>
            <div class="social">
                <p class="menu_foot">
                    Мы в соц.сетях
                </p>
                <a class="nav_item-foot" href="#">YouTube</a>
                <a class="nav_item-foot" href="#">Telegram</a>
                <a class="nav_item-foot" href="#">Rutube</a>
                <a class="nav_item-foot" href="#">VK сообщество</a>
            </div>
        </section>
        <div class="rest3"></div>
        <center>
            <small class="copy">Copyright &copy; 2024 TechTrends</small>
          </center>
    </footer>
</body>
</html>