{% extends 'base.html' %}

{% block script %} <script src="{{ url_for('static', path='js\file_name.js') }}" ></script> {% endblock %}
{% block title %} TechTrends • Создать новый пост {% endblock %}

{% block content %}
    <main>
        <center>
            <div class="image-container">
                <span id="file-status">Изображение не выбрано</span>
                <label for="real-file-input" class="custom-button">Выберите изображение</label>
                <input type="file" id="real-file-input" accept="image/*" class="hidden-input" name="real-file-input">
            </div>
        </center>
        <article class="main">
            <div class="left-column">
                
                <div class="text-post">
                    <textarea class="text-for-post" name="text" placeholder="Здесь будет текст поста..."></textarea>
                </div>
            </div>
            <div class="right-column">
                
                <form class="form">
                    <div class="form-group">
                        <input type="text" id="post-title" class="input-post-name" name="title" placeholder="Заголовок поста">
                    </div>
                    <div class="form-group">
                        <input type="text" id="source" class="input-post-name" name="from_title" placeholder="Источник (доменное имя сайта)">
                    </div>
                    <div class="form-group">
                        <input type="text" id="image-source" class="input-post-name" name="title_image" placeholder="Заголовок изображения (доменное имя сайта)">
                    </div>
                        <div class="cont-for-rules">
                            <p class="title-rul">Правила публикации:</p>
                            <ol>
                                <li class="p-rule">Публикация не должна содержать нецензурную лексику.</li>
                                <li class="p-rule">Все данные публикации должны содержать достоверные факты.</li>
                                <li class="p-rule">Публикации не должны ничего пропагандировать.</li>
                            </ol>
                            <button type="submit" class="publish-button">Опубликовать</button>
                        </div>
                    
                </form>

            </div>
    </article>
    </main>
{% endblock %}