{% extends 'base.html' %}

{% block title %} TechTrends • Лента {% endblock %}

{% block content %}
    <main class="index-main">
        <center>
            <p class="news-title">
                Новости
            </p>
        </center>
        <center>
        <div class="post-cont">
            {% for post in posts %}
                <div class="conteiner-p">
                    <p class="title-news">{{ post.title }}</p>
                    <p class="autor">
                        Автор: Ivan Alekhin
                    </p>
                    <p class="date-publish">
                        Дата публикации: {{ post.date_post }}
                    </p>
                    <p class="tap">Нажмите на фото, чтобы прочитать более</p>
                </div>

                <div class="pnimg">
                    <img src="{{ post.image_path }}" alt="">
                </div>
            {% endfor %}
        </div>
    </center>
        
    </main>
{% endblock %}
