{% extends 'base.html' %}

{% block title %} TechTrends • Лента {% endblock %}

{% block content %}
    <main class="index-main">
        <center>
            <p class="news-title">
                Новости
            </p>
        </center>
        <center>
        <div class="post-cont">

            <div class="conteiner-p">
                <p class="title-news">Новый iPhone 16</p>
                <p class="autor">
                    Автор: Ivan Alekhin
                </p>
                <p class="date-publish">
                    Дата публикации: 10 декабря 2024
                </p>
                <p class="tap">Нажмите на фото, чтобы прочитать более</p> 
            </div>

            <div class="pnimg">
                <img src="img/amanz-VP_FOpy5G68-unsplash.jpg" alt="">
            </div>

        </div>
    </center>
        
    </main>
{% endblock %}
