@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
body {
    background-color: #637080;
}
.conteiner{
    width: 1770px;
    height: 850px;
    margin-top: 65px;
    margin-bottom: 65px;
    display: flex;
}
.profile-head {
    background-color: #151515;
    height: 126px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-cont {
    display: flex;
    height: 600px;
    width: 1700px;
    background-color: #151515;
    border-radius: 18px;
    margin-bottom: 50px;
}
.conteiner-p {
    margin-top: 500px;
}
.pnimg {
    width: 850px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-left: 850px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.pnimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.index-head {
    height: 1018px;
    width: 100%;
    background-image: url('img/roonz-nl-2xEQDxB0ss4-unsplash 1.png');
}
.index-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 650px;
}
.line {
    background-color: #CBCFD8;
    width: 4px;
    height: 95px;
    margin-left: 50px;
    margin-top: 25px;
}
.login-btn {
    color: #CBCFD8;
    font-size: 24px;
    width: 245px;
    height: 45px;
    background-color: transparent;
    border: 0;
    border: 4px solid #CBCFD8;
    border-radius: 13px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 45px;
    margin-left: 50px;
}
.nav-item.index {
    margin-top: 50px;
    margin-left: 50px;
    
}
.title {
    color: #CBCFD8;
    font-size: 134px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 250px;
}
.undertitle {
    color: #CBCFD8;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.rest-title {
    height: 300px;
}
.button-more {
    color: #CBCFD8;
    font-size: 32px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    border-radius: 13px;
    border: 4px solid #CBCFD8;
    padding: 9px 25px;
}
.cont-news {
    margin-left: 70px;
}
.conteiner-about {
    height: 624px;
    width: 100%;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-main {
    display: flex;
}
.short-techtrends {
    font-size: 64px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #CBCFD8;
}
.post-title {
    color: #151515;
    font-size: 48px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 55px;
    margin-left: 45px;
}
.post-author {
    color: #151515;
    font-size: 24px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 15px;
    margin-left: 45px;
}
.post-source {
    color: #151515;
    font-size: 24px;
    margin-left: 45px;
    margin-top: 10px;  
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.post-source a {
    color: #151515;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.date-post {
    color: #151515;
    font-size: 20px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 45px;
    margin-top: 180px;
}
.text-post {
    color: #151515;
    font-size: 28px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    width: 1738px;
    height: auto;
    margin-left: 80px;
    margin-top: 45px;
    margin-bottom: 50px
}

.short-about {
    font-size: 48px;
    color:#CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 40px;
}
.index-main {
    background-color: #637080;
    width: 100%;
    height: auto;
}
.news-title {
    font-size: 64px;
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 50px;
}
.conteiner-news {
    width: 800px;
    height: 449px;
    margin-top: 50px;
    border-radius: 18px;
}
.news-image {
    width: 800px;
    height: 449px;
    position: relative;
    border-radius: 18px;
    display: inline-block;
    overflow: hidden;
    margin-left: 42px;
}
.news-image::before {
    content: "";
    display: block;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(21, 21, 21, 0.5);
}
.news-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.title-news {
    font-size: 45px;
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    margin-top: -150px;
    margin-left: 60px;
}
.text-news {
    font-size: 20px;
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
    margin-top: -150px;
    margin-left: 60px;
}
.autor {
    font-size: 20px;
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    margin-top: -75px;
    margin-left: 60px;
}
.date-publish {
    font-size: 20px;
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    margin-top: -50px;
    margin-left: 60px;  
}
.tap {
    font-size: 16px;
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    margin-top: -450px;
    margin-left: 420px; 
    position: absolute;
}
.prof {
    width: 714px;
    height: 829px;
    background-color: #151515;
    border-radius: 18px;
    padding-right: 25px;
}
.profile_image{
    width: 422px;
    height: 422px;
    border-radius: 50%;
    background-color: #CBCFD8;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 35px
}
.profile_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.name1 {
    color: #CBCFD8;
    font-size: 36px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-left: 35px;
    margin-top: 25px;
}
.dat_reg {
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 180px;
    margin-left: 35px;
    font-size: 20px;
}
.post {
    width: 1071px;
    height: 162px;
    background-color: #151515;
    margin: 0px 25px;
    border-radius: 18px;
    display: flex;
}

.rest5 {
    height: 15px;
    width: 100%;
}
.posts {
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    margin-top: 25px;
    margin-left: 25px;
}
.post-image {
    width: 842px;
    height: 424px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 18px;
    margin-left: 80px;
    margin-top: 30px;
}
.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-btn {
    color: #151515;
    background-color: #CBCFD8;
    width: 552px;
    height: 64px;
    font-size: 32px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: 0;
    border-radius: 18px;
    margin-left: 120px;
    margin-top: 45px;
}
.ava-btn {
    color: #151515;
    background-color: #CBCFD8;
    width: 903px;
    height: 69px;
    font-size: 32px;
    border: 0;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 18px;
}
.post.sub.ava {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name1.sub {
    margin-left: 25px;
    margin-top: 60px;
}
.post.sub {
    margin-top: 55px;
}
.un_posts {
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-top: 25px;
    margin-left: 25px;
}
footer {
    width: 100%;
    height: 516px;
    background-color: #151515;

}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #637080;
}
.fott {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy {
    color: #CBCFD8;
    font-size: 16px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 50px;
}
.menu_foot{
    font-size: 24px;
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.nav_item-foot {
    font-size: 20px;
    color: #A4ADBC;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 15px;
}
.menu {
    display: grid;
    margin-top: -32px;
}
.about {
    display: grid;
    margin-top: -32px;
    
}
.rest2 {
    height: 45px;
}
.rest {
    height: 70px;
    width: 100%;
}
.rest1{
    height: 100px;
    width: 115px;
}
.rest3{
    height: 145px;
    width: 115px;
}
.social {
    display: grid;
    
}
nav{
    display: flex;
}
.name {
    font-size: 48px;
    color: #CBCFD8;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.nav-item {
    text-decoration: none;
    color: #CBCFD8;
    margin: 20px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
@media all and (width < 1920px) {
    html, body {
        zoom: 90%;
    }
}